<!DOCTYPE html>
<html>
    <head>
        <title>Taaza</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-compatible" content="IE=edge" >

        <style>
            /* yahoo fix */
            table {
                margin: 0 auto !important;
            }
            .button {
                background-color: orange;
                border-radius: 5px;
                border-color: #333333;
                padding: 10px;
            }

            .button a {
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
            }
        </style>
    </head>
    <body style="margin: 0; padding: 0;">

        <div style="display:none; font-size: 0px; line-height: 0px; max-height: 0px; max-width: 0px; width: 0px; opacity: 0; overflow: hidden;">
            Looks like you are already signed up to Taaza
        </div>
        
        <!-- header -->
        <table bgcolor="{{theme.color.backgroundColor}}" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td align="center" style="color: {{theme.color.color}};font-size: 24px; font-family: {{theme.typography.fontFamily}}">
                    <p>Taaza</p>
                </td>
            </tr>
        </table>
        <!-- body -->
        <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>  
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" style="padding: 10px 0; margin: 0 auto;" width="300">
                        <tr>
                            <td align="center" style="padding-bottom: 16px">Welcome to Taaza (again)!</td>
                        </tr>
                        <tr>
                            <td align="center" style="padding-bottom: 16px">We noticed you tried signing up just now, perhaps you meant to login?</td>
                        </tr>                        
                        <tr>
                            <td align="center" style="font-style: italic;padding-bottom:16px;">
                                If you did not just sign up with us, perhaps someone accidentally put in a signup request?  Or we have a bug in our system?  For now, please ignore or delete this email.
                            </td>
                        </tr>                                                     
                    </table>
                </td>
            </tr>
        </table>
        
        <!-- footer -->
        <table bgcolor="{{theme.color.backgroundColor}}" width="100%" cellpadding="0" cellspacing="0" border="0" style="font-size: 14px; padding: 12px 0;">
            <tr>
                <td align="center" style="color: {{theme.color.color}}; font-family: {{theme.typography.fontFamily}}">
                    <p>Taaza</p>
                </td>
            </tr>
        </table>
    </body>
</html>

    